.github-container {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 110px;
    height: 110px;
    background-color: black;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.github-icon {
    position: fixed;
    margin-top: .5rem;
    transition: all 1.5s;
}

.github-icon:hover {
    transform: scale(1.1);
}